body{
    margin: 0;
    background-color: rgb(92, 92, 92);
    color: white;
    font-family: "Playfair Display", serif;
}

img{
    display: flex;
    justify-self: center;
    width: 200px;
    border-radius: 70%;
    
}

#header{
   background-color: black;
   padding: 20px;
   display: grid;
   align-items: center;
   justify-content: center;
   text-align: center;

}
.texto{
    margin: 20px;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    text-align: center;
    padding: 10px;    
}

.grid-item{
    background-color: rgb(231, 231, 231);
    color: black;
}
